<div id="tab-3" class="tab-content justify-content-center"> 
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-10 col-12 align-items-center d-grid">

            <div class="px-3">
                <div class="text-center">
                    <h1 class="fw-bold go-text">Governance</h1>
                </div>
                <div class="text-center">
                    <img class="w-100" src="../../../../assets/images/kwc_coins.png" alt="">
                </div>
                
            </div>
            <div class="text-center">
                <h4 class="fw-bold go-text">Holding Kranz Token enables access to a unique polling system to help OnlySwap make decision</h4>
            </div>
            <div class="text-center go-text">
                <p class="mb-0">Join the Kranz Token Telegram for the latest news:</p>
                <a href="https://t.me/KranzChat">t.me/KranzChat</a>
            </div>
        </div>
    </div>
</div>