<div id="tab-1" class="tab-content justify-content-center">
       
    <div class="scrollbar">
      <div class="overflow">
        <div class="text-center">
          <h2>ONLYSWAP, INC. PRIVACY POLICY </h2>
          <p>Privacy Policy, Version 1.0. October 18th, 2021</p>
      </div>
      <div class="w-75 m-auto">
          <p class="privecy-text">OnlySwap, Inc. (located at: 7511 Main St, Suite 200, Frisco, TX 75034) is the controller for your personal data within the scope of this Privacy Policy. OnlySwap, Inc decides “why” and “how” your personal data is processed in connection with the Interface. If you have additional questions or require more information about this Privacy Policy, please contact <a href="">info@OnlySwap.com.</a></p>
          <p class="privecy-text">This Privacy Policy applies only to the participants and visitors of OnlySwap.com regarding the personal data shared or collected from OnlySwap.com. This Privacy Policy is not applicable to any personal data collected offline or via methods outside the platform. Please read this Privacy Policy carefully to understand our policies regarding your data and how it will be treated by OnlySwap, Inc.</p>
          <p class="fw-bold mb-0 text-pri">IF YOU DO NOT HAVE THE AUTHORITY POWER AND RIGHT TO ACT ON BEHALF OF THE BUSINESS, ORGANIZATION, OR OTHER ENTITY YOU REPRESENT, DO NOT ACCESS, OR USE THE PLATFORM IN ANY CAPACITY. </p>
          <p class="fw-bold text-pri">ONLYSWAP, INC. WILL NOT, IN ANY EVENT, ASK YOU TO SHARE YOUR PRIVATE KEYS OR WALLET SEED PHRASE. NEVER TRUST ANYONE OR ANY WEBSITE THAT ASKS YOU TO ENTER YOUR PRIVATE KEYS OR WALLET SEED PHRASE.</p>

          <h6 class="fw-bold">1. <u>	AGREEMENT UPDATES </u></h6>
          <p class="privecy-text">If data processing practices change, this Privacy Policy will be updated accordingly. Your continued use of OnlySwap.com constitutes your awareness of all amendments made to this Privacy Policy as of the date of your accessing and use of OnlySwap.com. Therefore, we encourage you to review this Privacy Policy regularly as you shall be bound by it. If, for some reason, you are not satisfied with our personal data processing practices, your immediate recourse is to stop using OnlySwap.com. No additional communication is needed unless the individual intends to exercise data protection rights stipulated by GDPR and defined in this Privacy Policy.</p>

          <h6 class="fw-bold">2. <u>ELIGIBILITY</u></h6>
          <p class="privecy-text">By using OnlySwap.com in any capacity, you agree that you are at least eighteen (18) years of age. If you are under the age of eighteen (18), you may not, under any circumstances or for any reason, use OnlySwap.com. </p>

          <h6 class="fw-bold">3. <u>TYPES OF DATA PROCESSED OR COLLECTED</u></h6>
          <p class="privecy-text">OnlySwap, Inc aims to collect the minimal amount of personal data as possible. Personal data collected may include the following:</p>
          <ul>
            <li class="privecy-text">Email address, your name, and any other personal data you provide to us when communicating with us. Such personal data is used only for communication with you</li>
            <li class="privecy-text">Personal data that you are asked to provide and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal data</li>
            <li class="privecy-text">IP address, MAC address, log files, domain server, data related to usage, performance, website security, traffic patterns, location information, browser/device information (only when you are using the OnlySwap.com)</li>
            <li class="privecy-text">Wallet addresses(public), transaction, and balance information(public) that is accessible when interacting with the platform.</li>
          </ul>

          <h6 class="fw-bold">4. <u>HOW WE USE PERSONAL DATA </u></h6>
          <p class="privecy-text">We may use your personal data listed above only for: </p>
          <ul class="privecy-text">
            <li>Internal and operational purposes, when: ensuring security, identifying irregular website behavior, preventing fraudulent activity, and improving all possible security levels</li>
            <li>Assessing and improving platform performance</li>
            <li>Analyzing Interface behavior </li>
            <li>Sending marketing, advertising, informational emails</li>
            <li>Finding and preventing fraud</li>
          </ul>
          <p class="privecy-text">We may use Personal data described above or any other Personal data: </p>
          <ul class="privecy-text">
            <li>On the basis of our interests to protect the platform, to prevent any malicious and harmful activities to the platform, maintain our technical systems healthy and secure. </li>
            <li>To respond to legal requests of authorities, provide information upon court orders and judgments, or if we have a good-faith belief that such disclosure is necessary in order to comply with official investigations or legal proceedings initiated by governmental and/or law enforcement officials, or private parties, including but not limited to: in response to subpoenas, search warrants, or court orders, and including other similar statutory obligations we or our processors are subjected to.</li>
          </ul>

          <h6 class="fw-bold">5. <u>DISCLOSURE OF DATA </u></h6>
          <p class="privecy-text">If we must disclose any of your personal data to comply with official investigations or legal proceedings initiated by governmental and/or law enforcement officials, we may not be able to ensure that such recipients of your personal data will maintain the privacy or security of your personal data. </p>

          <h6>6. <u>DATA RETENTION PERIOD </u></h6>
          <p class="privecy-text">OnlySwap, Inc maintains personal data exclusively within the time needed to follow prescribed herein legal purposes. When OnlySwap, Inc no longer needs personal data, the limitation period for storage of such personal data has expired, OnlySwap, Inc securely deletes or destroys it unless required otherwise. Legal requirements require certain data, for specific purposes, for an extended period. Reasons why some data can be retained for longer periods of time include: </p>
          <ul class="privecy-text">
            <li>Security, fraud & abuse prevention</li>
            <li>Financial monitoring and record-keeping </li>
            <li>Complying with legal or regulatory requirements</li>
            <li>Ensuring the continuity of your interaction with the Interface</li>
          </ul>

          <h6 class="fw-bold">7.	<u>YOUR INQUIRIES</u></h6>
          <p class="privecy-text">You may contact us by email at the following: info@OnlySwap.com; We use the data that you provide in an email to us, which you may give voluntarily, only to answer your question or to reply to your email in the best possible manner. </p>

          <h6 class="fw-bold">8. <u>RIGHTS UNDER GDPR </u></h6>
          <ul class="privecy-text">
            <li>Right to information - It holds that the data subject has the right to ask a data controller what kind of data they process and why the data controller needs it</li>
            <li>Right of access - The right to access allows the data subject to access the personal data belonging to them that you process.</li>
            <li>Right of rectification - provides data subjects with the right to change or modify the data they provide you when they believe the data is inaccurate or out-of-date.</li>
            <li>Right of erasure - the data subject has the right to ask a data controller to erase their data without undue delay in certain circumstances.</li>
            <li>Right to restriction of processing - the data subject's right to request the restriction of processing under certain conditions. </li>
            <li>Right to data portability - the data subject's right to receive the personal data held by the data controller</li>
            <li>Right to object - the data subject has the right to object to data processing, when it is on relevant grounds</li>
            <li>Right to avoid automated decision-making - The data subject shall have the right not to be subject to a decision based solely on automated processing, including profiling</li>
          </ul>
          <p class="privecy-text">Please email to: info@OnlySwap.com with any questions about exercising any of the above rights. If you wish to learn more about the GDPR and Your rights, <a href="">https://ico.org.uk/</a> is a reliable source. </p>

          <h6 class="fw-bold">9. <u>PRIVACY OF MINORS </u></h6>
          <p class="privecy-text">OnlySwap, Inc does not intend to collect any data from people under the age of 18. OnlySwap.com does not knowingly allow anyone under 18 years old to submit any data. If you believe your child may have provided us with their data, you can contact us using the information in this policy. </p>

          <h6 class="fw-bold">10. <u>TRANSFER OF PERSONAL DATA </u></h6>
          <p class="privecy-text">Please note the use of OnlySwap.com based on public blockchains intended to immutably record transactions across wide networks of computer systems. Many blockchains are open to forensic analysis which can lead to deanonymization and the unintentional revelation of personal data. Because blockchains are decentralized or third-party networks which are not controlled or operated by OnlySwap, Inc, personal data is not able to be erased, modified, or altered from such networks. </p>

          <h6 class="fw-bold">11. <u>DATA INTEGRITY & SECURITY OF PROCESSING </u></h6>
          <p class="privecy-text">OnlySwap, Inc takes data security seriously. We work hard to protect the personal data you provide us from loss, misuse, or unauthorized access. We utilize a variety of safeguards such as encryption, digital and physical access controls, non-disclosure agreements, and other technical and organizational measures to protect the personal data.</p>

          <p class="privecy-text">Please note that no electronic transmission, storage, or processing of personal data can be entirely secure. OnlySwap, Inc cannot guarantee that the security measures in place to safeguard personal data will never be defeated or that those measures will always be sufficient. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect that your personal data will always remain secure. </p>

          <p class="text-center">Privacy Policy, Version 1.0. October 18th, 2021</p>
      </div>
      </div>
    </div>

    
</div>