<div class="guest h-100">
    <div class=" justify-content-center flex-column align-items-center mx-auto w-100">
      <div class="bg-white w-100 text-center">
         <img class="mx-auto" width="150px" src="../assets/images/logo_new.png" alt="Logo">
        <div class="delay-animation mt-4">
          <form class="mx-auto" novalidate>
            <div class="position-relative">
            <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="passwordForm.password" [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control" required>
            
            </div>
            
            <button type="button" (click)="passwordCheck()" class="btn btn-success btnGuest">Submit</button>
        </form>
        </div>
      </div>      
    </div>
  </div>

  <ng-template #walletConnect>
    <div class="modal-content border-0 modal-content-bg">
        <div class="modal-header border-0 pb-0">
            <b>{{modalHeader}}</b>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" style="text-overflow: ellipsis;">
            {{modalBody}}
        </div>
    </div>
</ng-template>

<!-- 
<ng-template #passwordPopup>  
  <div class="modal-body p-0">
    <div class="d-flex justify-content-center align-items-center mb-4">
      <img class="mx-auto" width="150px" src="../assets/images/logo_new.png" alt="Logo">
    </div>
    <p> Enter password to access OnlySwap.</p>
    <input type="password" placeholder="password" name="password" [(ngModel)]="passwordForm.password" [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-controlRequired" required>

    <div class="d-flex justify-content-center align-items-center mt-4">
      <button class="btn  text-uppercase fw-bold" (click)="passwordCheck()">Submit</button>
    </div>
  </div>
</ng-template>
 -->