<div id="tab-0" class="tab-content justify-content-center current">
    <div class="row row-fix justify-content-center align-items-center ">
        <div class="col-lg-3 col-4 py-5 p-0">
          <div class="text-end">
              <h5 class="fw-bold logo-text">Becoming The</h5>
          </div>
          </div>
          <div class="col-lg-6 py-5 col-4">
            <div class="text-center">
                <img class="main-logo" src="../assets/images/logo.png" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-4 p-0">
                <div class="">
                    <h5 class="fw-bold logo-text">you need.</h5>
                </div>
        </div>
    </div>
    <div class="row justify-content-center button-start">
        <div class="col-lg-3 text-center">
            <button class="btn start-btn">START SWAPPING</button>
        </div>
    </div>
</div>